@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font: "Roboto", Arial, Helvetica, sans-serif;
}
body {
  font-family: var(--font);
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

/* AddTodo styling */
.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  transition: background 500ms ease-in-out;
}
.btn:hover {
  background: #666;
}

/* TodoItem styling */
.btn-del {
  opacity: 0;
}
div.todoItemContainer:hover > .btn-del {
  opacity: 1;
}
.btn-del {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 3px;
}
.btn-del > i {
  color: #aaa;
  cursor: pointer;
  transition: color 500ms ease-in-out;
}
.btn-del:hover > i {
  color: #f91f06;
}
